parameters:
	ignoreErrors:
		-
			message: '#Method [a-zA-Z0-9\\_]+::getClassMetaData\(\) return type with generic class Doctrine\\ORM\\Mapping\\ClassMetadata does not specify its types: T#'
			path: tests/SchemaCreator.php
