parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
       - '#Property [a-zA-Z0-9\\_]+ChangeAddressRequest::\$[a-zA-Z0-9]+ has no typehint specified.#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
